{% extends 'webapp/base.html' %}

{% block content %}

    {% if ocr_data %}
        <script>
            window.onload = function() {
                $("#addFood").modal({backdrop: 'static', keyboard: false});
            }
        </script>
    {% endif %}

    <div class="modal fade" id="addFood" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add a food item</h4>
                </div>

                <div class="modal-body">
                    <form action="/inventory/addfood" method="POST">
                        {% csrf_token %}
                        <div class="instructions">
                            Fill in what you can, empty boxes will be set to 0
                        </div>
                        <input type="text" name="food_name" placeholder="Food name" autocomplete="off" required>
                            {% if ocr_data %}
                                {% include 'webapp/nutrition.html' with foodinfo=ocr_data  %}

                                <button type="submit" class="btn btn-default">Submit</button>
                                <button type="button" class="btn btn-default" onclick="returnHome();">Cancel</button>

                                <p>For reference, here is the original picture:</p>
                                <div class="align">
                                    <img src="{{ link }}">
                                </div>
                            {% else %}
                                {% include 'webapp/nutrition.html'  %}
                            {% endif %}

                        <script>
                            function returnHome() {
                                window.location.href = "/";
                            }
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}