{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Diet planner</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>
    <nav>
        {% if user.is_authenticated %}
            <div style="float: right;">
                <p style="margin-right: 20px;">Currently logged in as: {{ user.username }}</p>
                <button class="btn btn-default" onclick="location.href='/login/logout'">Logout</button>
            </div>
        {% endif %}
    </nav>
	<div id="sidebar">
		<div id="sidebar-text">
			<ul>
				<li><a href="/">Meals</a></li><br>
				<li><a href="/inventory">Inventory</a></li>
			</ul>

		</div>

	</div>

	<div id="main">
		{% block content %}
        {% endblock %}
	</div>
</body>

</html>