{% extends 'webapp/base.html' %}

{% block content %}
    <h2>Diet plans</h2>

    {% if response_message %}
    <div {% if response_message.tags %}class="{{ response_message.tags }}"{% endif %}> {{ response_message }} </div>
    {% endif %}

    {% include "webapp/modal.html" %}

    <!-- Create new diet plan -->
   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#createDiet">Create new diet plan</button>

     <div class="modal fade" id="createDiet" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Enter a name for your diet plan</h4>
                </div>

                <div class="modal-body">
                    <form action="/creatediet" method="POST">
                        {% csrf_token %}
                        <input type="text" name="diet_name" placeholder="Diet name" autocomplete="off" required>
                        <button type="submiit" class="btn btn-default">Submit</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    {% if diet_names %}
        {% if diet_names|length == 0 %}
            <p>You do not have any diet plans. Create one by clicking "Create new diet plan"</p>
        {% else %}
            {% for diet in diet_names %}
                <h1>{{ diet.diet_name }}</h1>

                <!-- View diet -->
                <div class="align">
                    <form action="/viewdiet/{{ diet.diet_name }}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default">View diet</button>
                    </form>
                </div>

                <!-- Rename diet -->
                <div class="align">
                    <button class="btn btn-default" data-toggle="modal" data-target="#renameDiet">Rename</button>

                    <div class="modal fade" id="renameDiet" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Rename diet plan</h4>
                                </div>

                                <div class="modal-body">
                                    <form action="/renamediet" method="POST">
                                        {% csrf_token %}
                                        <input type="text" name="new_diet_name" placeholder="New diet name" autocomplete="off" required>
                                        <input type="hidden" name="diet_name" value="{{ diet.diet_name }}">
                                        <button type="submiit" class="btn btn-default">Submit</button>
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Delete diet -->
                <div class="align">
                    <form action="/deletediet" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="diet_name" value="{{ diet.diet_name }}">
                        <button type="submit" class="btn btn-default">Delete</button>
                    </form>
                </div>
                <br>
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}