{% extends 'webapp/base.html' %}

<!-- TODO Reuse the modals -->

<!-- List of foods here, as well as the option to update / delete them -->

{% block content %}


    <p>Food inventory</p>
    <p>Click on "Add food" to add a new food</p>

    {% if response_message %}
    <div {% if response_message.tags %}class="{{ response_message.tags }}"{% endif %}> {{ response_message }} </div>
    {% endif %}
    
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addFood">Add food</button>

    <!-- OCR Nutrition Label -->
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#imglink">Or get food info from an image URL</button>
    <div id="imglink" class="collapse out">
        <div class="align">
            <form action="/ocr/" method="POST">
                {% csrf_token %}
                <input type="url" name="imglink" placeholder="Enter .jpg or .png link" autocomplete="off" required>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

    {% if ocr_data %}
        <script>
            window.onload = function() {
                $("#addFood").modal("toggle");
            };
        </script>
    {% endif %}

    <!-- Add food -->
    <div class="modal fade" id="addFood" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add a food item</h4>
                </div>

                <div class="modal-body">
                    <form action="/inventory/addfood" method="POST">
                        {% csrf_token %}
                        <div class="instructions">
                            Fill in what you can, empty boxes will be set to 0
                        </div>
                        <input type="text" name="food_name" placeholder="Food name" autocomplete="off" required>
                            {% if ocr_data %}
                                {% include 'webapp/nutrition.html' with foodinfo=ocr_data  %}
                                <div class="align">
                                    <img src="{{ link }}">
                                </div>
                            {% else %}
                                {% include 'webapp/nutrition.html'  %}
                            {% endif %}
                        <button type="submit">Submit</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- List out the foods -->
    {% if names|length == 0 %}
        <p>There are no foods</p>
    {% else %}
        {% for food in names %}

            <br>
            <div class="align" id="spacing">
            <p>{{ food.food_name }}</p>
            </div>

            <div class="align">
            <!-- Update food -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#updateFood{{ food.food_name|cut:" " }}">Edit</button>
            <div class="modal fade" id="updateFood{{ food.food_name|cut:" " }}" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit food info</h4>
                        </div>

                        <div class="modal-body">
                            <form action="/inventory/updatefood" method="POST">
                                {% csrf_token %}
                                <input value="{{ food.food_name }}" disabled>
                                <input type="hidden" name="food_name" value="{{ food.food_name }}">
                                {% include 'webapp/nutrition.html' with foodinfo=food %}
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            </div>

            <div class="align">
            <!-- Delete food -->
            <form action="/inventory/deletefood" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ food.food_name }}">
                <input type="hidden" name="food_name" value="{{ food.food_name }}">
                <button type="submit" class="btn btn-default">Delete</button>
            </form>
            </div>

            <br>
        {% endfor %}
    {% endif %}

{% endblock %}