<div class="nutrition-label">
    <div class="header">
        <h3 class="nutrition-title"><b>Nutrition Facts</b></h3>
    </div>

    <div class="amount-per-serving">
        <p id="calories"><b>Calories</b> <input size="1" maxlength="4" name="calories" autocomplete="off" {% if foodinfo %} value="{{ foodinfo.calories }}" {% endif %}></p>
    </div>

    <div class="macros">
        <p><b>Total Fat</b> <input size="1" maxlength="4" name="totalfat" autocomplete="off" {% if foodinfo %} value="{{ foodinfo.totalfat }}" {% endif %}>g</p>

        <hr>

        <div class="indent">
            <p>Saturated Fat <input size="1" maxlength="4" name="saturatedfat" autocomplete="off" {% if foodinfo %} value="{{ foodinfo.saturatedfat }}" {% endif %}>g</p>
            <hr>
            <p>Trans Fat <input size="1" maxlength="4" name="transfat" autocomplete="off" {% if foodinfo %} value="{{ foodinfo.transfat }}" {% endif %}>g</p>
        </div>

        <hr>

        <p><b>Cholestorol</b> <input size="1" maxlength="4" name="cholestorol" autocomplete="off" {% if foodinfo %} value="{{ foodinfo.cholestorol }}" {% endif %}>mg</p>

        <hr>

        <p><b>Sodium</b> <input size="1" maxlength="4" name="sodium" autocomplete="off" {% if foodinfo %} value="{{ foodinfo.sodium }}" {% endif %}>mg</p>

        <hr>

        <p><b>Total Carbohydrate</b> <input size="1" maxlength="4" name="carbs" autocomplete="off" {% if foodinfo %} value="{{ foodinfo.carbs }}" {% endif %}>g</p>
        <hr>

        <div class="indent">
            <p>Dietary Fiber <input size="1" maxlength="4" name="fiber" autocomplete="off" {% if foodinfo %} value="{{ foodinfo.fiber }}" {% endif %}>g</p>
            <hr>
            <p>Sugars <input size="1" maxlength="4" name="sugars" autocomplete="off" {% if foodinfo %} value="{{ foodinfo.sugars }}" {% endif %}>g</p>
        </div>

        <hr>

        <p><b>Protein</b> <input size="1" maxlength="4" name="protein" autocomplete="off" {% if foodinfo %} value="{{ foodinfo.protein }}" {% endif %}>g</p>
    </div>
</div>